<?xml version="1.0" encoding="UTF-8"?>
<kb-project>
 <depends-on-projects>
  <project name="ejb"/>
 </depends-on-projects>
 <used-by-projects/>
 <paths>
  <path value="C:/Users/christian/.m2/repository/jakarta/jms/jakarta.jms-api/3.1.0/jakarta.jms-api-3.1.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/validation/jakarta.validation-api/3.0.2/jakarta.validation-api-3.0.2.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/slf4j/slf4j-api/2.0.12/slf4j-api-2.0.12.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/xml/bind/jakarta.xml.bind-api/4.0.2/jakarta.xml.bind-api-4.0.2.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/arquillian/core/arquillian-core-api/1.7.2.Final/arquillian-core-api-1.7.2.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/shrinkwrap/descriptors/shrinkwrap-descriptors-api-base/2.0.0/shrinkwrap-descriptors-api-base-2.0.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jetbrains/kotlin/kotlin-stdlib-jdk7/1.8.0/kotlin-stdlib-jdk7-1.8.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/authentication/jakarta.authentication-api/3.0.0/jakarta.authentication-api-3.0.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/github/jai-imageio/jai-imageio-core/1.3.1/jai-imageio-core-1.3.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/annotation/jakarta.annotation-api/2.1.1/jakarta.annotation-api-2.1.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/sun/istack/istack-commons-runtime/4.1.2/istack-commons-runtime-4.1.2.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/bouncycastle/bcutil-jdk18on/1.78.1/bcutil-jdk18on-1.78.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/apache/commons/commons-compress/1.19/commons-compress-1.19.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/fasterxml/jackson/core/jackson-core/2.15.4/jackson-core-2.15.4.jar"/>
  <path value="C:/Users/christian/.m2/repository/aopalliance/aopalliance/1.0/aopalliance-1.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/junit/junit/4.13.1/junit-4.13.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/arquillian/core/arquillian-core-spi/1.7.2.Final/arquillian-core-spi-1.7.2.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/apache/poi/poi/4.1.2/poi-4.1.2.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/servlet/jakarta.servlet-api/6.0.0/jakarta.servlet-api-6.0.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/arquillian/junit5/arquillian-junit5-core/1.7.2.Final/arquillian-junit5-core-1.7.2.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/fasterxml/jackson/core/jackson-annotations/2.15.4/jackson-annotations-2.15.4.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/servlet/jsp/jstl/jakarta.servlet.jsp.jstl-api/3.0.0/jakarta.servlet.jsp.jstl-api-3.0.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/faces/jakarta.faces-api/4.1.0/jakarta.faces-api-4.1.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/arquillian/config/arquillian-config-api/1.7.2.Final/arquillian-config-api-1.7.2.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/junit/jupiter/junit-jupiter-api/5.10.1/junit-jupiter-api-5.10.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/shrinkwrap/shrinkwrap-impl-base/1.2.6/shrinkwrap-impl-base-1.2.6.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/json/jakarta.json-api/2.1.3/jakarta.json-api-2.1.3.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jetbrains/kotlin/kotlin-stdlib/1.8.0/kotlin-stdlib-1.8.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/io/jsonwebtoken/jjwt/0.9.1/jjwt-0.9.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/google/inject/guice/7.0.0/guice-7.0.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/apache/ant/ant-launcher/1.7.1/ant-launcher-1.7.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/javax/activation/javax.activation-api/1.2.0/javax.activation-api-1.2.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/apache/commons/commons-lang3/3.13.0/commons-lang3-3.13.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/apache/avalon/framework/avalon-framework-impl/4.3.1/avalon-framework-impl-4.3.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jfree/jcommon/1.0.23/jcommon-1.0.23.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/fasterxml/woodstox/woodstox-core/6.5.1/woodstox-core-6.5.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/arquillian/test/arquillian-test-api/1.7.2.Final/arquillian-test-api-1.7.2.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/apache/avalon/framework/avalon-framework-api/4.3.1/avalon-framework-api-4.3.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/commons-lang/commons-lang/1.0/commons-lang-1.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/commons-digester/commons-digester/2.1/commons-digester-2.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jfree/jfreechart/1.0.19/jfreechart-1.0.19.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/shrinkwrap/descriptors/shrinkwrap-descriptors-spi/2.0.0/shrinkwrap-descriptors-spi-2.0.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/apache/commons/commons-math3/3.6.1/commons-math3-3.6.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/commons-codec/commons-codec/1.10/commons-codec-1.10.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/github/virtuald/curvesapi/1.06/curvesapi-1.06.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jetbrains/annotations/13.0/annotations-13.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/inject/jakarta.inject-api/2.0.1/jakarta.inject-api-2.0.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/logging/jboss-logging/3.5.3.Final/jboss-logging-3.5.3.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/arquillian/container/arquillian-container-test-spi/1.7.2.Final/arquillian-container-test-spi-1.7.2.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/commons-logging/commons-logging/1.1.1/commons-logging-1.1.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/itextpdf/itextpdf/5.5.0/itextpdf-5.5.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/json/bind/jakarta.json.bind-api/3.0.0/jakarta.json.bind-api-3.0.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/hibernate/orm/hibernate-core/6.4.4.Final/hibernate-core-6.4.4.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/apache/ant/ant/1.7.1/ant-1.7.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jetbrains/kotlin/kotlin-stdlib-jdk8/1.8.0/kotlin-stdlib-jdk8-1.8.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/bouncycastle/bcpkix-jdk18on/1.78.1/bcpkix-jdk18on-1.78.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/arquillian/container/arquillian-container-test-api/1.7.2.Final/arquillian-container-test-api-1.7.2.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/glassfish/jaxb/txw2/4.0.4/txw2-4.0.4.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/googlecode/xades4j/xades4j/2.4.0/xades4j-2.4.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/google/code/gson/gson/2.8.9/gson-2.8.9.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/fasterxml/jackson/core/jackson-databind/2.15.4/jackson-databind-2.15.4.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/google/guava/guava/20.0/guava-20.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/fasterxml/jackson/datatype/jackson-datatype-jsr310/2.15.2/jackson-datatype-jsr310-2.15.2.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/junit/jupiter/junit-jupiter-engine/5.10.1/junit-jupiter-engine-5.10.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/opencsv/opencsv/5.9/opencsv-5.9.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/eclipse/microprofile/openapi/microprofile-openapi-api/3.1/microprofile-openapi-api-3.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/itextpdf/html2pdf/2.1.6/html2pdf-2.1.6.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/fasterxml/jackson/dataformat/jackson-dataformat-xml/2.13.3/jackson-dataformat-xml-2.13.3.jar"/>
  <path value="C:/Users/christian/.m2/repository/net/sf/jasperreports/jasperreports/6.20.0/jasperreports-6.20.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/resource/jakarta.resource-api/2.1.0/jakarta.resource-api-2.1.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/hibernate/validator/hibernate-validator/8.0.1.Final/hibernate-validator-8.0.1.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/lowagie/itext/2.1.7.js10/itext-2.1.7.js10.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/bouncycastle/bcprov-jdk18on/1.78.1/bcprov-jdk18on-1.78.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/net/sf/barcode4j/barcode4j/2.1/barcode4j-2.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/glassfish/jaxb/jaxb-runtime/3.0.2/jaxb-runtime-3.0.2.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/batch/jakarta.batch-api/2.1.1/jakarta.batch-api-2.1.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/el/jakarta.el-api/6.0.1/jakarta.el-api-6.0.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/bouncycastle/bcprov-jdk15on/1.70/bcprov-jdk15on-1.70.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/hibernate/common/hibernate-commons-annotations/6.0.6.Final/hibernate-commons-annotations-6.0.6.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/arquillian/config/arquillian-config-impl-base/1.7.2.Final/arquillian-config-impl-base-1.7.2.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/apache/poi/poi-ooxml-schemas/4.1.2/poi-ooxml-schemas-4.1.2.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/enterprise/jakarta.enterprise.lang-model/4.0.1/jakarta.enterprise.lang-model-4.0.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/beust/jcommander/1.48/jcommander-1.48.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/ws/rs/jakarta.ws.rs-api/3.1.0/jakarta.ws.rs-api-3.1.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/fasterxml/classmate/1.5.1/classmate-1.5.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/interceptor/jakarta.interceptor-api/2.1.0/jakarta.interceptor-api-2.1.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/net/sf/jasperreports/jasperreports-fonts/6.20.6/jasperreports-fonts-6.20.6.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/squareup/okhttp3/okhttp/3.9.1/okhttp-3.9.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/authorization/jakarta.authorization-api/2.1.0/jakarta.authorization-api-2.1.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/websocket/jakarta.websocket-api/2.1.0-jbossorg-2/jakarta.websocket-api-2.1.0-jbossorg-2.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/sun/activation/jakarta.activation/2.0.1/jakarta.activation-2.0.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/junit/jupiter/junit-jupiter-params/5.10.1/junit-jupiter-params-5.10.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/apache/commons/commons-collections4/4.4/commons-collections4-4.4.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/google/zxing/javase/3.3.0/javase-3.3.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/apache/xmlbeans/xmlbeans/3.1.0/xmlbeans-3.1.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/squareup/okio/okio-jvm/3.4.0/okio-jvm-3.4.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/websocket/jakarta.websocket-client-api/2.1.0-jbossorg-2/jakarta.websocket-client-api-2.1.0-jbossorg-2.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/transaction/jakarta.transaction-api/2.0.1/jakarta.transaction-api-2.0.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/hamcrest/hamcrest-core/1.3/hamcrest-core-1.3.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/primefaces/primefaces/12.0.0/primefaces-12.0.0-jakarta.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/facebook/business/sdk/facebook-java-business-sdk/18.0.3/facebook-java-business-sdk-18.0.3.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/shrinkwrap/shrinkwrap-spi/1.2.6/shrinkwrap-spi-1.2.6.jar"/>
  <path value="C:/Users/christian/.m2/repository/javax/xml/bind/jaxb-api/2.3.1/jaxb-api-2.3.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/apache/poi/poi-ooxml/4.1.2/poi-ooxml-4.1.2.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/persistence/jakarta.persistence-api/3.1.0/jakarta.persistence-api-3.1.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jetbrains/kotlin/kotlin-stdlib-common/1.8.0/kotlin-stdlib-common-1.8.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/servlet/jsp/jakarta.servlet.jsp-api/3.1.1/jakarta.servlet.jsp-api-3.1.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/shrinkwrap/shrinkwrap-api/1.2.6/shrinkwrap-api-1.2.6.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/apache/commons/commons-text/1.11.0/commons-text-1.11.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/itextpdf/forms/7.1.9/forms-7.1.9.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/itextpdf/io/7.1.9/io-7.1.9.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/apiguardian/apiguardian-api/1.1.2/apiguardian-api-1.1.2.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/eclipse/jdt/ecj/3.21.0/ecj-3.21.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/net/bytebuddy/byte-buddy/1.14.11/byte-buddy-1.14.11.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/mail/jakarta.mail-api/2.1.3/jakarta.mail-api-2.1.3.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/arquillian/test/arquillian-test-impl-base/1.7.2.Final/arquillian-test-impl-base-1.7.2.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/bouncycastle/bcutil-jdk15on/1.70/bcutil-jdk15on-1.70.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/arquillian/junit5/arquillian-junit5-container/1.7.2.Final/arquillian-junit5-container-1.7.2.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/commons-io/commons-io/2.6/commons-io-2.6.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/opentest4j/opentest4j/1.3.0/opentest4j-1.3.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/junit/platform/junit-platform-engine/1.10.1/junit-platform-engine-1.10.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/arquillian/container/arquillian-container-impl-base/1.7.2.Final/arquillian-container-impl-base-1.7.2.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/itextpdf/kernel/7.1.9/kernel-7.1.9.jar"/>
  <path value="C:/Users/christian/.m2/repository/commons-cli/commons-cli/1.0/commons-cli-1.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/apache/santuario/xmlsec/3.0.3/xmlsec-3.0.3.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/arquillian/container/arquillian-container-test-impl-base/1.7.2.Final/arquillian-container-test-impl-base-1.7.2.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/platform/jakarta.jakartaee-web-api/10.0.0/jakarta.jakartaee-web-api-10.0.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/io/smallrye/jandex/3.1.7/jandex-3.1.7.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/arquillian/core/arquillian-core-impl-base/1.7.2.Final/arquillian-core-impl-base-1.7.2.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/projectlombok/lombok/1.18.34/lombok-1.18.34.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/itextpdf/styled-xml-parser/7.1.9/styled-xml-parser-7.1.9.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/ejb/jakarta.ejb-api/4.0.1/jakarta.ejb-api-4.0.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/glassfish/jaxb/jaxb-core/4.0.4/jaxb-core-4.0.4.jar"/>
  <path value="C:/Users/christian/.m2/repository/commons-beanutils/commons-beanutils/1.8.3/commons-beanutils-1.8.3.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/arquillian/config/arquillian-config-spi/1.7.2.Final/arquillian-config-spi-1.7.2.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/platform/jakarta.jakartaee-api/10.0.0/jakarta.jakartaee-api-10.0.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/antlr/antlr4-runtime/4.13.0/antlr4-runtime-4.13.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/codehaus/woodstox/stax2-api/4.2.1/stax2-api-4.2.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/zaxxer/SparseBitSet/1.2/SparseBitSet-1.2.jar"/>
  <path value="C:/Users/christian/.m2/repository/avalon-framework/avalon-framework-impl/4.2.0/avalon-framework-impl-4.2.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/enterprise/jakarta.enterprise.cdi-api/4.0.1/jakarta.enterprise.cdi-api-4.0.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/itextpdf/layout/7.1.9/layout-7.1.9.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/arquillian/test/arquillian-test-spi/1.7.2.Final/arquillian-test-spi-1.7.2.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/junit/jupiter/junit-jupiter/5.10.1/junit-jupiter-5.10.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/itextpdf/svg/7.1.9/svg-7.1.9.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/google/zxing/core/3.3.0/core-3.3.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/jboss/arquillian/container/arquillian-container-spi/1.7.2.Final/arquillian-container-spi-1.7.2.Final.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/junit/platform/junit-platform-commons/1.10.1/junit-platform-commons-1.10.1.jar"/>
  <path value="C:/Users/christian/.m2/repository/com/squareup/okio/okio/3.4.0/okio-3.4.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/security/enterprise/jakarta.security.enterprise-api/3.0.0/jakarta.security.enterprise-api-3.0.0.jar"/>
  <path value="C:/Users/christian/.m2/repository/log4j/log4j/1.2.17/log4j-1.2.17.jar"/>
  <path value="C:/Users/christian/.m2/repository/org/eclipse/angus/angus-activation/2.0.2/angus-activation-2.0.2.jar"/>
  <path value="C:/Users/christian/.m2/repository/jakarta/activation/jakarta.activation-api/2.1.3/jakarta.activation-api-2.1.3.jar"/>
 </paths>
 <validation>
  <core validator-id="jboss.cdi.core"/>
  <el>
   <linked-el length="21" name="%0" offset="7560" path="%1"/>
   <linked-el length="21" name="%2" offset="7171" path="%1"/>
   <linked-el length="21" name="%3" offset="7171" path="%1"/>
   <linked-el length="21" name="%4" offset="7560" path="%1"/>
   <linked-el length="21" name="%5" offset="7560" path="%1"/>
  </el>
 </validation>
 <aliases>
  <alias path="/ejb/pom.xml" value="%1"/>
  <alias path="version.ejb" value="%4"/>
  <alias path="project" value="%2"/>
  <alias path="project.artifactId" value="%3"/>
  <alias path="version" value="%0"/>
  <alias path="version.ejb.plugin" value="%5"/>
 </aliases>
 <includes/>
 <uris/>
</kb-project>
